name: check

on:
  pull_request:
    paths:
    - "codespaces.el"
  push:
    paths:
    - "codespaces.el"

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 28.1
          - snapshot
    steps:
    - uses: actions/checkout@v5
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}
    - uses: leotaku/elisp-check@master
      with:
        file: codespaces.el
        warnings_as_errors: true
